@page "/BrowsingPage"
@using MudBlazor
@using ServerAPI.Data;
@using System.Text.Json.Serialization
@using System.Net.Http;
@using System.Text;
@using System.Text.Json;
@inject NavigationManager NavManager
@inject HttpClient HttpClient
@inject IHttpClientFactory ClientFactory

<EditForm Model=@userSearch OnSubmit = "@doSearch">
    <MudTextField @bind-Value="theSearch" Variant="Variant.Text"></MudTextField>
    <input type="submit" value="Search" class="btn btn-primary" />
</EditForm>

<h3>Items for Sale</h3>
<body>


<hr />
<br />
    <a href="/Item/d40bb3ec-4ea0-4a7e-8c5c-aa3bed89bb3b"><img src="images/Amulet of Buoyancy Icon.jpg" width="125" height="125" /></a>
    <h5>Amulet of Buoyancy </h5>
<br />
<br />
<hr />
<br />
    <a href="/Item/8d928803-7512-4646-b342-609c10da26ae"><img src="images/Amulet of the Planes Icon.jpg" width="125" height="125" /></a>
    <h5>Amulet of the Planes </h5>
<br />
<br />
<hr />
<br />
    <a href="/Item/ffc51a7c-a8c9-4629-96c9-2537e027d411"><img src="images/Immovable Rod Icon.jpg" width="125" height="125" /></a>
    <h5>Immovable Rod </h5>
<br />
<br />
<hr />
<br />
    <a href="/Item/ceafd231-fc71-418e-b4e1-74cf6f6d7ae5"><img src="images/Phantom Fire Staff Icon.jpg" width="125" height="125" /></a>
    <h5>Phantom Fire Staff </h5>
<br />
<br />
<hr />
<br />
    <a href="/Item/d72e3c67-5570-46fa-b8fc-b9c7c01e28e4"><img src="images/Ring of Fire Resistance Icon.jpg" width="125" height="125" /></a>
    <h5>Ring of Fire Resistance </h5>
 <br />
<br />
<hr />
<br />
    <a href="/Item/001619c3-5c66-48b6-a0b7-3bce070b6d8d"><img src="images/Ring of Regeneration Icon.jpg" width="125" height="125" /></a>
    <h5>Ring of Regeneration </h5>   
<br />
<br />
<hr />
<br />
    <a href="/Item/a9a71a21-bfb3-4fce-8a86-d6777466157e"><img src="images/Ring of Water Walking Icon.jpg" width="125" height="125" /></a>
    <h5>Ring of Water Walking </h5>
<br />
<br />
<hr />
<br />
    <a href="/Item/2304d76d-e77a-4e34-a3b4-7d12949c87e9"><img src="images/Sacrificial Dagger Icon.jpg" width="125" height="125" /></a>
    <h5>Sacrificial Dagger </h5>
<br />
<br />
<hr />
<br />
    <a href="/Item/6b4bad81-51a3-4c7b-8c7b-834d10d3c9a4"><img src="images/Staff of the Woodlands Icon.jpg" width="125" height="125" /></a>
    <h5>Staff of the Woodlands </h5>  
<br />
<br />
<hr />
<br />
    <a href="/Item/b5e2bf44-7ee9-4cc3-8690-e3a9cfd88cb0"><img src="images/Staff of Withering Icon.jpg" width="125" height="125" /></a>
    <h5>Staff of the Withering </h5>
<br />
<br />
<hr />
<br />
    <a href="/Item/c294fdab-f161-4f0c-9fdf-14c5c742b20d"><img src="images/Sword of Sharpness Icon.jpg" width="125" height="125" /></a>
    <h5>Sword of Sharpness</h5>          

</body>

@code {
    Search userSearch = new Search();
    private string? theSearch;

    void doSearch()
    {
        NavManager.NavigateTo($"/search/{theSearch}");
    }


}
