<h1>Browse</h1> 
@page "/BrowsingPage"
@using MudBlazor
@using ServerAPI.Data;
@using System.Text.Json.Serialization
@using System.Net.Http;
@using System.Text;
@using System.Text.Json;
@inject NavigationManager NavManager
@inject HttpClient HttpClient
@inject IHttpClientFactory ClientFactory

<h3>Items for Sale</h3>
<img src="fang.jpg">


@code {







}
