<h3>Register</h3>
@page "/register"
@using MudBlazor
@using ServerAPI.Data;
@inject NavigationManager NavManager
<body>

<h4>@Status</h4>
@if (isRegistered)
{
	<h4>Username is @registerUser.userName</h4>
	<NavLink class="btn btn-primary" href="/login">Login</NavLink>
	<br />
	<br />
}

<EditForm Model=@registerUser OnSubmit=@FormSubmitted>
	<MudTextField @bind-Value="userName" Label="Username" Variant="Variant.Text"></MudTextField>
	<MudTextField @bind-Value="email" Label="Email" Variant="Variant.Text"></MudTextField>
	<MudTextField @bind-Value="password" Label="Password" Variant="Variant.Text"></MudTextField>
	<MudTextField @bind-Value="passwordCheck" Label="Re-enter Password" Variant="Variant.Text"></MudTextField>

	<input type="submit" value="Submit" class="btn btn-primary" />
</EditForm>

</body>

@code
{
	string userName;
	string password;
	string email;
	string passwordCheck;
	string Status = "Not submitted";
	Boolean isRegistered = false;
	NewUser registerUser = new NewUser();


	void FormSubmitted()
	{
		if(String.IsNullOrEmpty(userName) || String.IsNullOrEmpty(password)  || String.IsNullOrEmpty(email)  || String.IsNullOrEmpty(passwordCheck))
		{
			Status = "Try again!";
		}

		else if(password.Equals(passwordCheck))
		{
			Status = "Thanks for registering";
			isRegistered = true;
			registerUser.userName = userName;
			registerUser.password = password;
			registerUser.email = email;
		}

		else
		{
			Status = "Error: Passwords are not Equal";
		}

		
		


	
	
	
	}


}
